table td {
    position:relative;
    border: 1px solid grey;
    height: 80px;
    width: 80px;
    background-color: rgb(89, 89, 255);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.container h1 {
    font-size: 3rem;
    font-family: monospace;
}

.winner button {
    height: 5rem;
    width: 5rem;
    background-color: rgb(89, 89, 255);
    border-radius: 10px;
    color: white;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
}